@charset "ISO-8859-1";
ul {
    list-style: none;
}
 #triangle :before {
    content: "\0025BA  ";
}
 #losange :before  {
      
        content: "";
        border: 2px solid blue;
        display: inline-block;
        height: 4px;
        width: 4px;
        vertical-align: middle;
        transform:rotate(70deg);
        margin-right: 5px;
    }
 
 #num li:before  {
 counter-reset: comp1;
    counter-increment: compt1 ;
    content: counter(compt1); 
    border-radius: 50%;
    display: inline-block;
    padding: 1px 5px;
    color: white;
    background-color: blue;
    margin-right: 5px;
    font-weight: bold;
     }