.list1 li{
    list-style: none;
}

.list1 li:before {
    content: "";
    border: 5px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

.list2 li{
    list-style: none;
}

.list2 li:before {
    content: "";
    border: 2px solid blue;
    /* border-top-color: transparent; */
    /* border-right-color: transparent; */
    /* border-bottom-color: transparent; */
    height: 4px;
    width: 4px;
    transform: rotate(45deg);
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

.list3 {
    counter-reset: c1;
    list-style: none;
}
.list3 li{
    list-style: none;
}

.list3 li:before {
    counter-increment: c1;
    content: counter(c1);
    border-radius: 50%;
    /* border-top-color: transparent; */
    /* border-right-color: transparent; */
    /* border-bottom-color: transparent; */
    /* height: 4px; */
    /* width: 4px; */
    /* transform: rotate(45deg); */
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    background-color: blue;
    padding: 1px 5px;
}